#img-preview {
    max-width: 300px;
    max-height: 300px;
    margin-top: 10px;
    display: none;
}


.language-item {
    /* margin-left:20rem; */
    padding: 10px; /* Add padding inside each language item */
    border: 1px solid #ccc; /* Add border for visual separation */
    text-align: center; /* Center text content */
    background-color: black; /* Set background color */
    color: white; /* Set text color */
}

.language-image {
    width: 100px; /* Set the width of each image */
    height: 100px; /* Set the height of each image */
    display: block; /* Ensure images are block elements */
    margin: 0 auto; /* Center images horizontally */
    cursor: pointer;
}

.delete-button{
    margin-top: 10px;
}
.delete-button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

.edit-button{
    margin-top: 10px;
}

.edit-button:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}


@media screen and (max-width:1170px) {
    .language-item {
        margin-left: 5rem; /* Adjusted margin-left for screens larger than 768px */
    }
}
